.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.flex-body {
  display: flex;
  flex-direction: column;
  background-color: hsl(330, 100%, 98%);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  width: 600px;
  margin: 20px;
  border: 20px;
  padding: 20px;
  border-radius: 10px;
  font-family: "Outfit";
  font-size: 15px;
  color: #908d8b;
}

.image {
  width: 600px;
  border-radius: 10px;
}
h1,
h2 {
  font-family: "Young Serif";
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
  font-weight: 400;
}
.time {
  background-color: hsl(330, 100%, 98%);
  border: 5px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
h4 {
  color: hsl(332, 51%, 32%);
  margin-left: 20px;
}
.color-bold {
  color: hsl(30, 10%, 34%);
  font-weight: 700;
}
.time > ul > li::marker {
  color: hsl(332, 51%, 32%);
}
.time > ul,
.ingredients > ul,
.instructions > ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item > ol > li::marker,
.ingredients > ul > li::marker {
  color: hsl(14, 45%, 36%);
}
.hr {
  padding: 0px 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 10px;
}
.bold-color{
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
}
@media (max-width: 618px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    .image{
        width: 400px;
    }
}